@media screen and (min-width: 1225px) {
    .hiden-t{
        display: none;
    }
}
@media screen and (max-width: 1224px) {
    :root{
        --col-items: 5;
        --gap-items: 20px;
    }
    .hiden-t{
        display: none;
    }
    
}
@media screen and (max-width: 1133px){
    :root{
        --song-play-h: 80px;
        --font-1-6: 1.4rem;
        --font-1-4: 1.2rem;
        --font-1-8-i: 1rem;
        --song-play__img-wh: 40px;
        --song-play__img-bdr: 50%;
        --heading-2: 1.6rem;
        --font-2-i: 1.4rem;
        --col-items: 5;
        --gap-items: 20px;
    }
    .hiden-t{
        display: none;
    }
    .nav-list{
        border-bottom: none;
    }
    .header,
    .container{
        margin-left: 72px;
    }
    .content-left{
        display: none;
    }
    .content-left-m{
        display: block;
    }
    .song-play-right{
        display: none;
    }
    .song-play{
        justify-content: space-around;
    }
    .song-play-left{
        margin: 0;
    }
}
@media screen and (max-width: 1030px) and (min-width: 740px){
    :root{
        --col-items: 4;
        --gap-items: 20px;
    }
}
@media screen and (max-width: 845px) {
    :root{
        --col-items: 3;
        --gap-items: 16px;
        --mg-left: 0;
    }
}
@media screen and (max-width: 739px) {
    :root{
        --col-items: 2;
        --gap-items: 10px;
        --mg-left: 0;
    }
    
    .song-play-left{
        display: none;
    }
    .content-left-m{
        display: none;
    }
    .header,
    .container{
        margin-left: 0;
    } 
    .hiden{
        display: none;
    }
    .logo-icon{
        margin-left: 25px;
        color: #1ed760;
    }
    .header{
        margin: 0;
    }
    .hiden-t{
        display: block;
    }
}